body{
	margin: 0px;
	background-color: #e7e8ec;
}

.navbar{
	background-color: #4C75A3;
	color: white;

}

.main{
	display: flex;
	align-items: center;
	margin: 0px 150px 0px 150px;
	padding: 10px;
}

.main2{
	display: flex;
	margin: 0px 150px 0px 150px;
	padding: 10px;
	justify-content: space-between;
}

.logo a{
	color: white;
	text-decoration: none;
}

.logo{
	width: 15%;
}
.logo h3{
	margin: 0px;
}

.searchBar{
	width: 80%;
}


.searchBar i {
    position: absolute;
    padding: 10px;
}

.searchBar {
    width: 170px;
}

.input-field {
    width: 100%;
    padding: 5px 0px 5px 30px;
    text-align: left;
    margin-bottom: 3px;
    border-radius: 30px;
    border: none;
}


.content{
	display: flex;
	justify-content: space-between;
}
.left-bar{
 	width: 20%;
}

#menu a{
	text-decoration: none;
	color: #5d5d5e;
	font-size: 14px;
}

.photo{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
}

.center-bar{
	width: 30%;
	color: #252761;
}

.right-bar{
	width: 50%;
	margin-left: 10px;
}

#editButton{
	color: #252761;
	border: none;
	background-color: #e7e8ec;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
}

.friends{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
	margin-top: 10px;
}

#friends img{
	border-radius: 50%;
	width: 50px;
  	height: 50px;
}

.friends p{
	margin: 0px 0px 10px 0px;
}

#friends{
	font-size: 12px;
}

.topInfo{
	display: flex;
	justify-content: space-between;
}

.info{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
}

.username h3,h4{
	margin: 5px 0px 5px 0px;
	font-weight: normal;
}

.status{
	font-size: 14px;
	color: #7f8082;
}

/*.create-line {
  width: 100%;
  border-top: 1px solid lightgrey;
  margin: 10px 0px 10px 0px;
}*/

#main-info{
	font-size: 14px;
	color: #5d5d5e;
}
#main-info td{
	margin-right: 20px;
}

#main-info a{
	text-decoration: none;
}

hr{
	 height: 1px;
     background-color: #ccc;
     border: none;
     width: 100%;
}

.info-number{
	font-size: 10px;
	color: #5d5d5e;
	width: 100%;
	text-align: center;
}

.numbers{
	font-size: 16px;
}

.all-photos{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
	margin-top: 10px;
	color: #5d5d5e;
	font-size: 13px;
}

.a-p{
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.a-p img{
	height: 100px;
	width: 100px;
	padding: 5px;
}

.posts{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
	margin-top: 10px;
}

.ava{
	width: 15%;
}
.ava img{
	border-radius: 50%;
	width: 45px;
  	height: 45px;
}

.posts-header{
	display: flex;
}

.username2{
	width: 85%;
	color: #0c107a;
	font-size: 14px;
	align-items: center;
}

.time{
	font-size: 12px;
	color: #5d5d5e;
}

.posts p{
	font-size: 14px;
	color: #5d5d5e;
	margin: 3px 0px 3px 0px;
}

.center-bar2{
	width: 55%;
	background-color: white;
	padding: 11px;
	border-radius: 5px;
}

.right-bar2{
	width: 25%;
}


.header-cb{
	display: flex;
	justify-content: space-between;
}

#find-friends{
	background-color: #4C75A3;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px;
	width: 150px;
}

.header-cb-left{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-cb-left p{
	margin: 0px;
	font-size: 14px;
}

#header-cb-left-text{
	margin-left: 20px;
}


/*.friends-block img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.friends-block a{
	text-decoration: none;
	color: #4C75A3;
}

.friends-block p{
	margin: 0px;
}*/

#username-p{
	color: #065a91;
	font-weight: bold;
}

#work-place{
	color: gray;
	font-size: 14px;
	margin: 5px 0px 5px 0px;
}

.right-bar2-menu-table{
	color: #5d5d5e;
}
.right-bar2-menu{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
}

.possible-friends{
	background-color: white;
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 10px;
}

.possible-friends p{
	margin: 0px;
}

#possible-friends-text{
	margin: 10px 0px 10px 0px;
}

.possible-friends-table img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.possible-friends-table a{
	text-decoration: none;
	color: #0c107a;
}

.friends-one-block{
	display: flex;
	align-items: center;
}

.friends-one-block img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.friends-one-block a{
	text-decoration: none;
	color: #4C75A3;
	font-size: 14px;
	margin: 10px 0px 10px 0px;
}

.friends-one-block p{
	margin: 0px;
	font-size: 14px;
}

.friends-one-block-text{
	margin: 20px;

	align-content: space-around;
}

.searchBar-friends{
	display: flex;
}
.searchBar-friends p{
	color: #5d5d5e;
	margin: 0px;
}

.searchBar-friends img{
	width: 15px;
	height: 15px;
	margin: 0px 10px 0px 10px;
}